﻿@model MyMSACS.Models.PlanTermRequirement

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlanTermRequirement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DegreeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DegreeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlanNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlanNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TermNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TermNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequirementNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequirementNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PlanTermRequirementId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
