﻿@model IEnumerable<MyMSACS.Models.PlanTermRequirement>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StudentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DegreeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlanNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TermNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequirementNumber)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TermNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequirementNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlanTermRequirementId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlanTermRequirementId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlanTermRequirementId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
