﻿@model MyMSACS.Models.PlanTerm

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>PlanTerm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlanTermId" class="control-label"></label>
                <input asp-for="PlanTermId" class="form-control" />
                <span asp-validation-for="PlanTermId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DegreeId" class="control-label"></label>
                <input asp-for="DegreeId" class="form-control" />
                <span asp-validation-for="DegreeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanNumber" class="control-label"></label>
                <input asp-for="PlanNumber" class="form-control" />
                <span asp-validation-for="PlanNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TermNumber" class="control-label"></label>
                <input asp-for="TermNumber" class="form-control" />
                <span asp-validation-for="TermNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TermAbbrev" class="control-label"></label>
                <input asp-for="TermAbbrev" class="form-control" />
                <span asp-validation-for="TermAbbrev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
