﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>MyMSACS</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to MyMSACS</h2>
        <p>
            MyMSACS is a sample application that
            demonstrates how to use Entity Framework Core in an
            ASP.NET Core MVC web application.
        </p>
    </div>
    
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://bitbucket.org/s528151/mymsacs/overview">See project source code &raquo;</a></p>
    </div>
</div>