﻿@model MyMSACS.Models.StudentDegreePlan

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>StudentDegreePlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentDegreePlanId" class="control-label"></label>
                <input asp-for="StudentDegreePlanId" class="form-control" />
                <span asp-validation-for="StudentDegreePlanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanNumber" class="control-label"></label>
                <input asp-for="PlanNumber" class="form-control" />
                <span asp-validation-for="PlanNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanAbbrev" class="control-label"></label>
                <input asp-for="PlanAbbrev" class="form-control" />
                <span asp-validation-for="PlanAbbrev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanName" class="control-label"></label>
                <input asp-for="PlanName" class="form-control" />
                <span asp-validation-for="PlanName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditDate" class="control-label"></label>
                <input asp-for="EditDate" class="form-control" />
                <span asp-validation-for="EditDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DegreeStatusId" class="control-label"></label>
                <input asp-for="DegreeStatusId" class="form-control" />
                <span asp-validation-for="DegreeStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DegreeId" class="control-label"></label>
                <input asp-for="DegreeId" class="form-control" />
                <span asp-validation-for="DegreeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lkDegreeStatus" class="control-label"></label>
                <input asp-for="lkDegreeStatus" class="form-control" />
                <span asp-validation-for="lkDegreeStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
