﻿@model MyMSACS.Models.StudentDegreePlan

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StudentDegreePlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlanNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlanNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlanAbbrev)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlanAbbrev)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlanName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlanName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EditDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EditDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DegreeStatusId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DegreeStatusId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DegreeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DegreeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.lkDegreeStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.lkDegreeStatus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StudentDegreePlanId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
