﻿@model MyMSACS.Models.StudentDegreePlan

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentDegreePlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlanNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlanNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlanAbbrev)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlanAbbrev)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlanName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlanName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EditDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EditDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DegreeStatusId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DegreeStatusId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DegreeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DegreeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.lkDegreeStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.lkDegreeStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StudentDegreePlanId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
