﻿@model IEnumerable<MyMSACS.Models.StudentDegreePlan>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StudentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlanNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlanAbbrev)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlanName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EditDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DegreeStatusId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DegreeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lkDegreeStatus)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanAbbrev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeStatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lkDegreeStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentDegreePlanId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentDegreePlanId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentDegreePlanId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
